:root{
    --cor-primaria: #556652;
    --cor-secundaria: #31382E;
    --cor-botoes: #242424;
}
/* Inicio do Header */

header{
    background-image: url(/src/images/pexels-arunbabuthomas-1156683.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-top: 50px;
}

.nav-item {
    margin-left: 20px; 
    margin-right: 20px; 
}

a{
    color: white;
}

/* a ::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: #556652;
} */

.desc{
    padding-top: 350px;   
}

.desc-name{
    text-align: center;
    font-size: 64px;
}

.desc-description{
    text-align: center;
    font-size: 30px;
}

.iconimage{
 width: 120px;
 padding-top: 50px; 
 transition: transform 0.3s;
 cursor: pointer;
}

/* Transições do header */
.iconimage:hover{
    transform: scale(1.1);   
}
/* 
Final do header */

main .profile img{
    width: 24.3125rem;
    height: 26.5rem;
    padding-top: 50px;
}





