/* Estilizações gerais para todas as paginas */



header .navbar a {
    color: white;
    position: relative;
    text-decoration: none; /* Remove a sublinha padrão */
    
}

/* header .navbar  {
   margin-bottom: 120px;
} */

.modal-header, .modal-footer ,.modal-body {
    color: white;
    background-color: #101316dc; ;
    border: none; /* Remove a linha entre header e body, e entre body e footer */   
    text-decoration: none;
}

.modal-footer a{
    color: white;
    text-decoration: none;
}
/* Transições */

.modal-footer button{
    background-color: #143b6e;
}

header .navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #03B08B; /* Cor da linha */
    transition: width 0.6s ease; /* Transição suave */
}

header .navbar a:hover::after {
    width: 100%; /* Expande a linha ao passar o mouse */
}


