.card {
    width: 18rem; /* Definindo a largura do card */
    height: 100%; /* Fazendo o card ocupar toda a altura disponível */
    display: flex;
    flex-direction: column; /* Alinhando os itens verticalmente */
}

.card-img-top {
    height: 150px; /* Altura fixa para a imagem */
    object-fit: cover; /* Fazendo a imagem cobrir o espaço sem distorcer */
}

.card-body {
    flex-grow: 1; /* Fazendo o corpo do card crescer para preencher o espaço */
}

body {
    margin: 0;
    padding: 0;
    background-color: #21272F;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 200px;
}

.text-main {
    text-align: center;
    padding-bottom: 120px;
    font-size: 60px;
}

.text-main span {
    color: #03C092;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 120px;
}

.btn {
    background: linear-gradient(45deg, #00ffb2, #00d2ff); /* Cores do gradiente */
    transition: box-shadow 0.3s;
  border-radius: 20px;
  text-decoration: none;
  border:none;
}

.card{
    background: linear-gradient(135deg, rgba(240, 238, 238, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.322);
    box-shadow: 0 8px 32px 0 rgba(216, 218, 217, 0.13);
    transition: transform 0.3s ease; /* Transição suave */
    cursor: pointer;
}

.modal{
    background-color: #21272F;
    border: none;
    text-align: center;
}

.modal-title{
    text-align: center;
}

/* transições */
.card:hover {
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(3, 192, 146, 0.37);
    transform: scale(1.05); /* Efeito de aumento no card */
    background: none; /* Remove o fundo preto */
}

.modal-content{
    background-color: #2f3742;
    border: none;
    text-decoration: none;
}

.visitar-btn{
  color: aliceblue;
  text-decoration: none;
}

.close{
    color: white;
}



