:root {
    --cor-primaria: #556652;
    --cor-secundaria: #31382E;
    --cor-botoes: #242424;
}


body{
    display: flex;
    padding:  0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #21272F;
}

.wrapper {
    max-width: 800px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    line-height: 46px;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; /* Garante que o ícone fique sobre a imagem */
}

.wrapper i:first-child {
    left: -9; /* Ajuste a posição para a esquerda */
}

.wrapper i:last-child {
    right: -23px; /* Ajuste a posição para a direita */
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
}

.carousel img{
    height: 250px;
    width: calc(100% / 3);
    object-fit: cover;
    margin-left: 14px;
    
}

.carousel img :first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px){
   .carousel img{
    width: calc(100% / 2);
   }
}

@media screen and (max-width: 550px){
    .carousel img{
     width: 100%;
    }
 }