*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    padding-top: 20px;
   background-image: 
   linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), /* Gradiente para escurecer o fundo */
   url(/src/images/black.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}

a{
    color: white;
}

main{
    width: 100%;
    height:  800px;
    color: white;
    
}

.text-main span{
    color: #03C092;
}

.skills{
    /* background-color: black; */
    width: 90%;
    height: 80%;
    gap: 40px;
    padding-top: 40px;
}

.skills .skill-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    background: linear-gradient(135deg, rgba(240, 238, 238, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transição suave */
    border:1px solid rgba(255, 255, 255, 0.322);
    box-shadow: 0 8px 32px 0 rgba(216, 218, 217, 0.13);
   
    
}

.skills .skill-content :hover{
    
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(3, 192, 146, 0.37);
    transform: scale(1.05); 

}