*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    padding-top: 20px;
   background-color:#1F252D;
   
}

a{
    color: white;
}

main{
    width: 100%;
    height:  800px;
    color: white;
    
}

.descicon h1{
    font-size: 20px;
}

.text-main span{
    color: #03C092;
}

.ifa-brands {
    width: 120px;
    height: 120px;
}

.skills{
    /* background-color: black; */
    width: 70%;
    height: 80%;
    gap: 40px;
    padding-top: 40px;
}

.btn {
    background: linear-gradient(45deg, #00ffb2, #00d2ff); /* Cores do gradiente */
    transition: box-shadow 0.3s;
    border-radius: 10px;
    width: 40px;
    height: 30px;
    text-decoration: none;
    border:none;
    margin-top: 20px;
}

.btn i{
    color: #eef1f5;
}

.skills .skill-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    background: linear-gradient(135deg, rgba(240, 238, 238, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transição suave */
    border:1px solid rgba(255, 255, 255, 0.322);
    box-shadow: 0 8px 32px 0 rgba(216, 218, 217, 0.13);
   
    
}

.descicon{
    padding-top: 10px;
}

.text-main{
    padding-top: 300px;
}



.skills .skill-content :hover{
    
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(3, 192, 146, 0.37);
    transform: scale(1.05); 
}

